/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.nav_bar {
    float: right;
    font-size: 38px;
    line-height: 38px;
    margin-top: -10px;
    margin-right: 0;
  }

  .blog_content {
  	width: 670px;
  }

  .blog_name {
  	margin-left: 44px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.container {
		margin: 0;
	}

	.vertical_line {
		left: 300px;
	}

	.nav_bar {
		margin-right: -70px;
	}

	.nav_bar .tab {
		margin-right: 70px;
	}

	.horizont_line {
		margin-left: 30px;
		width: 90%;
	}

	.tab_item_about {
		width: 900px;
	}

	footer {
		padding-left: 120px;
	}

	.tab_item_web {
		width: 600px;
	}

	.blog_name {
		margin-top: 0;
	}

	.tab_item_blog {
		width: 920px;
	}

	.blog_content {
    width: 610px
  }

  .portf_descr {
  	padding-left: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.nav_bar {
		margin-right: 110px;
	}

	.nav_bar .tab {
		margin-right: 40px;
	}
	
	.soc_button i {
		font-size: 28px;
		margin-right: 5px;
	}

	.logo {
		font-size: 38px;
	}

	.logo_descr {
		font-size: 16px;
	}

	.tab_item_about {
		font-size: 15px;
	}

	.vertical_line {
		left: 265px;
	}

	.soc_button ul {
		padding: 0px 0px 0px 70px;
	}

	.tab_item_about {
		padding-left: 285px;
		font-size: 14px;
		width: 700px;
	}

	.point_full {
		border-radius: 20px;
		width: 21px;
	}

	.tab_item_web {
		margin-left: 285px;
	}

	.portf {
		width: 205px;
	}

	.portf_descr {
		padding-left: 20px;
	}

	.blog_name {
		font-size: 12.5px;
		width: 230px;
	}

	.blog_content {
		font-size: 13px;
		width: 430px;
	}

	.tab_item_blog {
		width: 710px;
	}

	.portf_content img {
		margin-left: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.vertical_line {
		display: none;
	}

	.tab_item_about {
		padding-left: 5px;
		padding-right: 5px;
		width: 470px;
		padding-top: 10px;
	}

	.horizont_line {
		margin-left: 22.5px;
	}

	footer {
		padding-left: 0;
	}

	header {
		height: 200px;
		padding: 0;
	}

	.soc_button i {
		font-size:36px
	}

	.soc_button {
		margin-left: 90px;
		margin-bottom: 10px;
	}

	.logo {
		font-size:70px;
		padding-left: 5px;
	}

	.logo_descr {
		font-size: 28px;
		margin: 15px 20px 20px 45px;
	}

	.nav_bar {
		margin-right: 50px;
	}

	header {
		padding-top: 25px;
		height: 230px;	
	}

	.tab_item_web {
		margin-left: 0px;
	}

	.tab_item_web {
		width: 465px;
		margin-top: 10px;
	}

	.tab_item_web span {
		margin-left: 170px;
	}

	.portf {
		width: 450px;
		height: 700px;
		margin-left: 15px;
	}

	.portf_descr {
		font-size: 22px;
		padding-left: 70px;
	}

	.portf_descr:hover {
	padding-top: 60%;
	}

	.portf_descr a {
		margin-left: 60px;
		width: 160px;
		padding: 6px 6px 6px 8px;
	}

	.blog_content {
		padding-left: 5px;
		padding-right: 5px;
		width: 470px;
	}

	.tab_item_blog {
		width: 455px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.portf_content img {
		margin-left: 13px;
		margin-top: 15px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}