*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

button, 
button:active, 
button:focus {
    outline: none;
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.container {
	position: relative;
}

.toggle-btn {
	top: 20px;
	left: 20px;
	position: fixed;
	display: none;
	width: 100px;
	z-index: 100;
}

.is-active {
	position: fixed;
}

.hamburger:hover {
    opacity: 1;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: #FDE428;
	width: 45px;
	height: 5px;
}

//slideout


body {
  width: 100%;
  height: 100%;
}

nav#menu {
	margin: 0;
}


nav#menu li {
	display: block;
	margin: 0;
	margin-bottom: 25px;
	font-size: 24px;
	//border-bottom: 0.5px #fff solid;
	text-align: right;
	padding-right: 15px;
}

nav#menu .logo {
	margin: 20px auto;
	float: none;
	margin-bottom: 40px;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #001C38;

}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

//slideoutend


html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "MonserratRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

h1 {
	font-family: "MonserratBold" , sans-serif;
	font-size: 31px;
	line-height: 31px;
	font-weight: 700;
	text-transform: uppercase;
	color: #002e5b;
}

h2 {
	font-family: "MonserratBold", sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	color: #002e5b;
}

h3 {
	font-family: "Seguiemj",sans-serif;
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	color: #666;
}

p {
	font-family: "Seguiemj", sans-serif;
	font-size: 16px;
	color: #333;
}

header {
	height: 648px;
	background-image: url(../img/header.png);
	background-position: 70% 0;
	position: relative;
}

span {
	color: #fff;
}

.top_line {
	margin-top: 50px;
}

.logo {
	float: left;
	display: inline-block;
	background-image: url(../img/logo.png);
	width: 178px;
	height: 50px;
}

nav {
	display: inline-block;
	float: right;
	margin-right: 80px;
	margin-top: 20px;
}
 nav ul {
	list-style: none;
	margin: 0;
}

li {
	display: inline-block;
	margin-left: 40px;
	letter-spacing: 1px;
	font-weight: 600;
}

li a {
	color: #fff;
	text-transform: uppercase;
}

li a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px #fff solid;
}


.head_buttons {
	position: absolute;
	color: #fde428;
	top: 450px;
	text-transform: uppercase;
	margin-left: 40px;
}
.prev,.next {
	display: inline-block;
}

.prev {
	margin-right: 7px;
}

.next {
	margin-left: 7px;
}

.prev i{
	margin-right: 20px;
}

.next i{
	margin-left: 20px;
}

.prev:hover, .next:hover{
  cursor: pointer;
}

.head_decr {
	position: absolute;
	color: #fff;
	top: 250px;
	right: 75px;
}

.head_tittle {
	position: absolute;
	top: 20%;
	right: 60%;
	font-size: 51px;
	line-height: 51px;
	font-weight: bold;
	text-align: right;
}

.head_more {
	position: absolute;
	top: 70%;
	font-weight: bold;
	font-size: 21px;
	color: #fde428;
	left: -20%;
}

.head_more:hover {
	border-bottom: 1px #fde428 solid;
	cursor: pointer;
}


.about {
	height: 100%;
	padding-bottom: 70px;
}


.sec_one {
	padding-bottom: 100px;
	display: inline-block;
	margin-top: 75px;
}

.about h1 {
	color: #002e5b;
}

.about p {
	display: block;
	width: 540px;
}

.about a {
	font-family: "MonserratBold" , sans-serif;
	color: #002e5b;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	height: 27px;
	display: inline-block;
	margin-top: 20px;
}

.about a:hover {
	text-decoration: none;
	border-bottom: 2px #002e5b solid;
}

.about a:active {
	color: #002e5b;
}

.yellow_block {
	width: 270px;
	height: 525px;
	background: #fde428;
	position: absolute;
	top: 0;
	right: 160px;
}

.sec_two img {
	width: 500px;
	height: 325px;
	position: absolute;
	top: 100px;
	right: 43px;
}

.sec_three {
	display: inline-block;
	margin-top: 40px;
}

.sec_four {
	float: right;
	display: inline-block;
	margin-top: 50px;
}

.sec_four p{
	width: 570px;
}

.sec_contact {
	background: #002e5b;
	height: 90px;
}

.sec_contact h2 {
	color: #fff;
	font-family: "MonserratRegular", sans-serif;
	font-weight: 500;
	display: inline-block;
	margin-top: 30px;
}

.sec_contact button {
	float: right;
	background-color: #fde428;
	border: none;
	border-radius: 3px;
	width: 160px;
	height: 45px;
	font-size: 16px;
	font-family: "MonserratBold", sans-serif;
	font-weight: bold;
	color: #002e5b;
	margin-top: 23px;
	margin-right: 100px;
} 

button:focus {
 border: none;
}

.sec_contact button:hover {
	background-color: #fef297;
}

.sec_contact button:active {
	background-color: #bda80e;
}

a:active {
	color: #fff;
	text-decoration: none;
}

a:link {
	color: #fff;
	text-decoration: none;
}

header a:visited {
	color: #fff;
}


.services h1, .services h3 , .contact h1, .contact h3{
	text-align: center;
} 

.services {
	padding: 50px 0;
}

.services h3 {
	margin-bottom: 50px;
}

.services img {
	width: 370px;
	height: 190px;
}

.statics {
	background-color: #002e5b;
	padding: 120px 0;
}

.item_statics{
	text-align: center;
}

.number {
	font-size: 48px;
	font-family: "MonserratRegular", sans-serif;
	letter-spacing: 20px;
	text-align: center;
	padding-left: 42px;
}

.descr_num {
	font-size: 14px;
	font-family: "Seguiemj", sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
}

.best .sec_one{
	margin: 0;
}

.best .sec_two {
	display: inline-block;
	float: right;
}

.best .yellow_block {
	left: 115px	;
}

iframe {
	position: absolute;
}

.vid {
	width: 500px;
	margin-top: 100px;
}

.best h1 {
	margin-top: 95px;
}

.testimonials {
 background-color: #002e5b;
 text-align: center;
 padding: 100px 0;
 color: #fff;
}

.testimonials i {
	font-size: 28px;
}

.testimonials span {
	font-family: "MyriadProRegular", sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 38px;
	margin: 50px 0;
	display: block;
	letter-spacing: 0.5px;
}

span.author  {
	font-size: 14px;
	font-weight: 600;
	font-family: "MonserratBold", sans-serif;
	display: inline;
}

.contact {
	padding: 50px 0;
	height: 100%;
}

.contact h3 {
	margin-bottom: 50px;
}

.map {
	position: relative;
}

.map_arr {
		background-image: url(../img/Map_arr.png);
		position: absolute;
		top: 15%;
		left: 32%;
		width: 75px;
		height: 79px;
}

span.name_office {
	font-family: "MonserratBold", sans-serif;
	font-weight: bold;
	color: #002e5b;
	display: block;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 35px;
}

.contacts span {
	font-family: "Seguiemj", sans-serif;
	font-size: 16px;
	color: #002e5b;
	line-height: 16px;
}

.contacts i {
	font-size: 16px;
	color: #002e5b;
	margin-right: 10px;
	margin-bottom: 20px;
}

.contacts:nth-child(2n) i{
	margin-right: 20px;
}

footer {
	padding: 30px 0;
	background-color: #002E5B;
	color: #fff;
	font-family: "MonserratBold", sans-serif;
	font-size: 16px;
}

footer span{
	color: #fde52c; 
	text-transform: none;
	text-decoration: none;
}

.links{
	float: right;
}

.links i {
	margin-right: 20px;
}

.links i:hover {
	text-decoration: none;
	color: #fde52c;
	cursor: pointer;
}


.plyr .plyr__play-large {
	display: none;
}